@{
    ViewBag.Title = "Contact Us";
}
<h2>Contact Us</h2>
<br />
<h4>Have a comment to make, or want to leave some feedback? Something going wrong? Let us know! You can do this in-game via <b>hewi@laethys</b>, <b>hewi@hailol</b> or email <b>hewi@prancingturtle.com</b>.</h4>