
@{
    ViewBag.Title = "Thankyou!";
}

<h2 class="text-info"><b>Thank you!</b></h2>

<img src="~/Content/turtle/happytrtl.jpg" width="300" height="224"/>

<p>We really appreciate your contribution! Thanks for supporting PrancingTurtle!</p>
<p>Payment of your donation has been completed, and details of the donation will be sent (from paypal) to your email.</p>