@model Database.Models.Encounter

@{
    ViewBag.Title = "Remove Encounter";
}

<h3>Really remove encounter #@Model.Id ?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Remove" class="btn btn-danger" />
            </div>
        </div>
    </div>
}