
@{
    ViewBag.Title = "Alternate upload instructions";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <h2>Alternate upload instructions</h2>

            <h4>Having issues using the normal uploader, or just want to do it a different way?</h4>
            <h4>You can also use FTP to upload your logs! Whether you prefer to use FTP from within your browser,
                or a client application on your machine, the process is very similar. You still need to zip your combatlog and
                rename the archive to the filename shown when you created the session, but instead of using the standard uploader,
                upload the zip file to <span class="text-info">ftp://ftp.prancingturtle.com</span> and it will be parsed as soon as the the upload has completed.
                You may notice your uploaded log disappear from the ftp server shortly after the transfer is complete - this is normal and is part of how the logs are processed.</h4>
            <h4>If you have any issues using the FTP upload method, let us know!</h4>
            <br/>
            <h4>Remember:</h4>
            <h5><b>1.</b> Zip up your combatlog</h5>
            <h5><b>2.</b> Rename the zip file</h5>
            <h5><b>3.</b> Send the zip file to ftp.prancingturtle.com</h5>
        </div>
    </div>
</div>