@model string
@{
    ViewBag.Title = string.Format("Sorry, this {0} is private!", Model);
}
<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.Raw(string.Format("Sorry, this {0} is private!", Model))</h3>
            </div>
            <div class="panel-body">
                <p>The administrators of this guild have set their sessions to private, so only guild members are able to view them.</p>
                <p>If you have applied for this guild but still can't see sessions, contact your guild administrator to have your application approved.</p>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Ok", "Index", "Home", null, new { @class = "btn btn-default" })