@model Database.Models.Session

@{
    ViewBag.Title = "Remove Session";
}

<h3>Really remove session '@Model.Name' ?</h3>
<h4>This operation can't be undone, and may take a few minutes to complete.</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Yep, delete this session!" class="btn btn-danger"/>
                @Html.ActionLink("No! I didn't mean to click that!", "Detail", new { @id = Model.Id }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}