@{
    ViewBag.Title = "Email Confirmation Required";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for registering! Please check your email for a confirmation link within the next few minutes.
    </p>
</div>
