@{
    ViewBag.Title = "Password Reset";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        If we find your email address on file, you will receive a link to reset your password in your email within the next few minutes.
    </p>
</div>
