@{
    ViewBag.Title = "Email Confirmation";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        If we find your email address on file, you will receive a confirmation link in your email within the next few minutes.
    </p>
</div>
