@model PrancingTurtle.Models.Shared.SearchViewModel


<td class="filtersearch" style="vertical-align: middle">
    <button class="btn btn-primary" style="background: none;" type="submit" title="Perform search"><i class="fa fa-lg fa-search"></i></button>
    <a href="@Url.Action(Model.ActionName, Model.ControllerName)" class="btn btn-danger" title="Reset filters"><i class="fa fa-lg fa-times"></i></a>
</td>
