@using PrancingTurtle.Helpers
@{
    ViewBag.Title = "Password changed successfully";
}

<h2>Success! Your password has been changed.</h2>

@Html.ImageActionLink("Index", "text-warning", "fa fa-lg fa-arrow-circle-left", "Back to Account Management") 