<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Dapper.Rainbow.MySql" version="0.8.2" targetFramework="net462" />
  <package id="Hangfire.Core" version="1.6.15" targetFramework="net462" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
</packages>