<connectionStrings>
  <add name="PTGalera" connectionString="data source=serverAddress;port=3306;initial catalog=PrancingTurtleDb;persist security info=True;user id=dbUser;password=dbPassword;ConnectionLifeTime=300" />
  <add name="PTHangfire" connectionString="Server=serverAddress;Port=3306;Database=HangfireDb;Uid=dbUser;password=dbPassword;Allow User Variables=True;" />
</connectionStrings>